.flows.local.json.backup
[{"id":"1710a13e.24be0f","type":"tab","label":"START","disabled":false,"info":""},{"id":"6e4c635c.e9a3cc","type":"subflow","name":"BD Mongo","info":"","category":"","in":[{"x":320,"y":240,"wires":[{"id":"eca77b34.7ed2a8"}]}],"out":[{"x":1220,"y":220,"wires":[{"id":"599d4ef2.5ef4a","port":0},{"id":"2696d184.602f2e","port":0},{"id":"2e35eea3.4e66c2","port":0},{"id":"edfbe89a.afcaa8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"26039c45.5709e4","type":"mongodb3","z":"6e4c635c.e9a3cc","uri":"mongodb+srv://filmoteka:filmoteka121212@cluster0.ybwuc.mongodb.net/films_bd","name":"films","options":"","parallelism":"-1"},{"id":"a54d6162c71f8df8","type":"telegram bot","botname":"profcollegeEnter_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"eca77b34.7ed2a8","type":"switch","z":"6e4c635c.e9a3cc","name":"insert, update, find, del","property":"switch_type","propertyType":"msg","rules":[{"t":"eq","v":"insert","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"find","vt":"str"},{"t":"eq","v":"del","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":520,"y":240,"wires":[["599d4ef2.5ef4a"],["2696d184.602f2e"],["2e35eea3.4e66c2"],["edfbe89a.afcaa8"]]},{"id":"599d4ef2.5ef4a","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"insert","x":770,"y":160,"wires":[[]]},{"id":"2696d184.602f2e","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"findOneAndUpdate","x":810,"y":200,"wires":[[]]},{"id":"2e35eea3.4e66c2","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"findOne","x":770,"y":240,"wires":[[]]},{"id":"edfbe89a.afcaa8","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"26039c45.5709e4","name":"","collection":"","operation":"findOneAndDelete","x":810,"y":280,"wires":[[]]},{"id":"df3c0b22d542a3d2","type":"function","z":"1710a13e.24be0f","name":"Повідомлення з кодом","func":"const message = {\n    'type': 'message',\n    'chatId': msg.payload.chatId,\n    'content': 'Привіт) \\n\\nНапиши своє Прізвище, Ім\\'я та групу\\n\\nПиклад: \"Коваленко Іван, 201',\n}\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":340,"wires":[["78034690.513038"]]},{"id":"a18dc3fa.71502","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":760,"wires":[]},{"id":"a9816fa8.102ee","type":"catch","z":"1710a13e.24be0f","name":"","scope":null,"x":320,"y":760,"wires":[["a18dc3fa.71502"]]},{"id":"78034690.513038","type":"telegram sender","z":"1710a13e.24be0f","name":"send message","bot":"a54d6162c71f8df8","haserroroutput":false,"outputs":1,"x":1020,"y":360,"wires":[[]]},{"id":"67692ad7.9de0d4","type":"telegram command","z":"1710a13e.24be0f","name":"/start","command":"/start","description":"","registercommand":false,"language":"","bot":"a54d6162c71f8df8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":360,"wires":[["d703ab21985012fd","6cbef1964b9b8d7c"]]},{"id":"0e3a78c293ca5dd9","type":"function","z":"1710a13e.24be0f","name":"перевірка імя та прізвища","func":"\nconst validateFullName = (fullString) => {\n    // Регулярний вираз перевіряє два слова, що складаються тільки з літер, розділені пробілом, кожне від 2 до 30 символів\n    const pattern = /^[A-Za-zА-Яа-яІіЇїЄєҐґ]{2,30}\\s[A-Za-zА-Яа-яІіЇїЄєҐґ]{2,30},\\s\\d{1,4}$/;\n    return pattern.test(fullString);\n}\n\nconst message = {\n    'type': 'message',\n    'chatId': msg.payload.chatId,\n    'content': 'Дякую!',\n}\n\n\nif (!validateFullName(msg.payload.content)) {\nmessage.content = 'Ти ввів невірні данні, будь ласка виправ і введи їх ще раз'\n}\n\nmsg.payload = message;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":520,"wires":[["78034690.513038"]]},{"id":"ee5e5747b9a50789","type":"telegram receiver","z":"1710a13e.24be0f","name":"Відповідь ","bot":"a54d6162c71f8df8","saveDataDir":"","filterCommands":false,"x":160,"y":480,"wires":[["f0a517c5558f0778"],[]]},{"id":"f33a2946d2efa6a3","type":"function","z":"1710a13e.24be0f","name":"Повідомлення коли перейшов не за QR","func":"const message = {\n    'type': 'message',\n    'chatId': msg.payload.chatId,\n    'content': 'Відскануй QR на прохідній і перейди за ним',\n}\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":380,"wires":[["78034690.513038"]]},{"id":"ae25c2d52ceb8b2b","type":"telegram command","z":"1710a13e.24be0f","name":"/admin","command":"/admin","description":"","registercommand":false,"language":"","bot":"a54d6162c71f8df8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":100,"wires":[["d76778d8a64be06a"]]},{"id":"d76778d8a64be06a","type":"function","z":"1710a13e.24be0f","name":" Vars","func":"\nmsg.chatId = msg.payload.chatId\nmsg.firstName = msg.originalMessage.from.first_name || ''\nmsg.lastName = msg.originalMessage.from.last_name || ''\nmsg.username = msg.originalMessage.from.username || ''\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":100,"wires":[["081eecaffc1f2216"]]},{"id":"5664be1e74786dea","type":"function","z":"1710a13e.24be0f","name":"Повідомлення з QR","func":"\nconst message = {\n    'type': \"photo\",\n    'chatId': msg.chatId,\n    'content': msg.payload\n}\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":100,"wires":[["ee658cb04111f9e3"]]},{"id":"a61ed1317de6c874","type":"jimp-image","z":"1710a13e.24be0f","name":"","data":"payload","dataType":"msg","ret":"buf","parameter1":"100","parameter1Type":"num","parameter2":"1000","parameter2Type":"num","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Useful for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":790,"y":100,"wires":[["5664be1e74786dea"]]},{"id":"5369ba71029d5a28","type":"function","z":"1710a13e.24be0f","name":"base64","func":"const cleanBase64 = msg.payload.replace(\"data:image/png;base64,\", \"\");\n\nmsg.payload = cleanBase64;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["a61ed1317de6c874"]]},{"id":"081eecaffc1f2216","type":"function","z":"1710a13e.24be0f","name":"link","func":"// Отримання поточної дати та часу\nlet now = new Date();\n\n// Форматування дати та часу для генерації унікального коду\nlet uniqueCode = now.getFullYear().toString().slice(-2) +\n    ('0' + (now.getMonth() + 1)).slice(-2) +\n    ('0' + now.getDate()).slice(-2) +\n    ('0' + now.getHours()).slice(-2) +\n    ('0' + now.getMinutes()).slice(-2) +\n    ('0' + now.getSeconds()).slice(-2) +\n    ('000' + now.getMilliseconds()).slice(-3);\n\n//Генерація лінки на бот\nmsg.link = `https://t.me/profcollegeEnter_bot?start=${uniqueCode}`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":100,"wires":[["bf15d9d3422d34de"]]},{"id":"97f844a91e5afd45","type":"function","z":"1710a13e.24be0f","name":"delete message","func":"// Зберігайте ID надісланого повідомлення\nconst chatId = msg.payload.chatId;\nconst messageId = msg.payload.sentMessageId;\n\n\nmsg.payload = {\n    type: 'deleteMessage',\n    chatId: chatId,\n    content: messageId\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":100,"wires":[["c95425292a8da9fc"]]},{"id":"ee658cb04111f9e3","type":"telegram sender","z":"1710a13e.24be0f","name":"send message","bot":"a54d6162c71f8df8","haserroroutput":false,"outputs":1,"x":1280,"y":100,"wires":[["851c2ba8d9b3ec05"]]},{"id":"c95425292a8da9fc","type":"telegram sender","z":"1710a13e.24be0f","name":"send message","bot":"a54d6162c71f8df8","haserroroutput":false,"outputs":1,"x":1860,"y":100,"wires":[[]]},{"id":"851c2ba8d9b3ec05","type":"delay","z":"1710a13e.24be0f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":100,"wires":[["97f844a91e5afd45"]]},{"id":"bf15d9d3422d34de","type":"Barcode Generator","z":"1710a13e.24be0f","name":"","data":"link","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"showborder","v":"true","vt":"bool"},{"p":"rotate","v":"N","vt":"str"}],"x":610,"y":100,"wires":[["a61ed1317de6c874"]]},{"id":"f0a517c5558f0778","type":"switch","z":"1710a13e.24be0f","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"/start ","vt":"str"},{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":500,"wires":[["9d417ff58093f5b8"],["9d417ff58093f5b8"],["9d417ff58093f5b8"],["0e3a78c293ca5dd9"]]},{"id":"838dce30d829d9ea","type":"comment","z":"1710a13e.24be0f","name":"Генерація QR адміном","info":"","x":320,"y":40,"wires":[]},{"id":"7ae876cf8d13e915","type":"comment","z":"1710a13e.24be0f","name":"Перехід в бот без унікального ID","info":"","x":340,"y":300,"wires":[]},{"id":"f1377b7ad92a539d","type":"comment","z":"1710a13e.24be0f","name":"Перехід в бот p унікальним ID","info":"","x":330,"y":420,"wires":[]},{"id":"9d417ff58093f5b8","type":"debug","z":"1710a13e.24be0f","name":"Start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":460,"wires":[]},{"id":"d703ab21985012fd","type":"debug","z":"1710a13e.24be0f","name":"Start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":260,"wires":[]},{"id":"6cbef1964b9b8d7c","type":"switch","z":"1710a13e.24be0f","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":360,"wires":[["df3c0b22d542a3d2"],["f33a2946d2efa6a3"]]}]