.flows.json.backup
[{"id":"1710a13e.24be0f","type":"tab","label":"START","disabled":false,"info":""},{"id":"02933166aa653acd","type":"tab","label":"Початок","disabled":false,"info":"","env":[]},{"id":"06fd9e325bd37e34","type":"tab","label":"QR вхід","disabled":false,"info":"","env":[]},{"id":"6e4c635c.e9a3cc","type":"subflow","name":"BD Mongo","info":"","category":"","in":[{"x":320,"y":240,"wires":[{"id":"eca77b34.7ed2a8"}]}],"out":[{"x":1220,"y":220,"wires":[{"id":"599d4ef2.5ef4a","port":0},{"id":"2696d184.602f2e","port":0},{"id":"2e35eea3.4e66c2","port":0},{"id":"edfbe89a.afcaa8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"45938af2924d6bf1","type":"subflow","name":"Send message","info":"","category":"","in":[{"x":520,"y":320,"wires":[{"id":"907570d9a4cf5978"}]}],"out":[{"x":1180,"y":320,"wires":[{"id":"18fb40ebad7cf66e","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"a54d6162c71f8df8","type":"telegram bot","botname":"profcollegeEnterLocal_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"94229ffe1e88916f","type":"mongodb3","uri":"mongodb+srv://andreas2010:mNfnrtsb1YolxGmz@cluster0.h0mux.mongodb.net/collegeBot","name":"collegeBot","options":"","parallelism":"-1"},{"id":"478ad80d55c10b37","type":"telegram bot","botname":"profcollege_lviv_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1920d99f282aedbb","type":"telegrambot-config","botname":"MyTelegramBot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"eca77b34.7ed2a8","type":"switch","z":"6e4c635c.e9a3cc","name":"insert, update, find, del","property":"switch_type","propertyType":"msg","rules":[{"t":"eq","v":"insert","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"find","vt":"str"},{"t":"eq","v":"del","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":520,"y":240,"wires":[["599d4ef2.5ef4a"],["2696d184.602f2e"],["2e35eea3.4e66c2"],["edfbe89a.afcaa8"]]},{"id":"599d4ef2.5ef4a","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"94229ffe1e88916f","name":"","collection":"","operation":"insert","x":790,"y":160,"wires":[[]]},{"id":"2696d184.602f2e","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"94229ffe1e88916f","name":"","collection":"","operation":"findOneAndUpdate","x":830,"y":200,"wires":[[]]},{"id":"2e35eea3.4e66c2","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"94229ffe1e88916f","name":"","collection":"","operation":"findOne","x":790,"y":240,"wires":[[]]},{"id":"edfbe89a.afcaa8","type":"mongodb3 in","z":"6e4c635c.e9a3cc","service":"_ext_","configNode":"94229ffe1e88916f","name":"","collection":"","operation":"findOneAndDelete","x":830,"y":280,"wires":[[]]},{"id":"907570d9a4cf5978","type":"telegram sender","z":"45938af2924d6bf1","name":"send message","bot":"478ad80d55c10b37","haserroroutput":false,"outputs":1,"x":660,"y":320,"wires":[["d08f82434b764e5c"]]},{"id":"d08f82434b764e5c","type":"function","z":"45938af2924d6bf1","name":"change state","func":"msg.switch_type = \"update\";\nmsg.collection = 'users';\nlet state = { \"state\": msg.state };\nlet bd = { chatId: msg.chatId };\nmsg.payload = [\n    bd, { $set: state }, { upsert: true, returnNewDocument: true }\n];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":320,"wires":[["18fb40ebad7cf66e"]]},{"id":"18fb40ebad7cf66e","type":"subflow:6e4c635c.e9a3cc","z":"45938af2924d6bf1","name":"","x":1030,"y":320,"wires":[[]]},{"id":"a9816fa8.102ee","type":"catch","z":"1710a13e.24be0f","name":"","scope":null,"uncaught":false,"x":160,"y":1060,"wires":[["d66d0c1b9af07ffd"]]},{"id":"67692ad7.9de0d4","type":"telegram command","z":"1710a13e.24be0f","name":"/start","command":"/start","description":"","registercommand":false,"language":"","bot":"478ad80d55c10b37","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":120,"wires":[["6b77e6bee854af26"]]},{"id":"d66d0c1b9af07ffd","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":1060,"wires":[]},{"id":"6b77e6bee854af26","type":"change","z":"1710a13e.24be0f","name":"","rules":[{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"firstName","pt":"msg","to":"originalMessage.from.first_name","tot":"msg"},{"t":"set","p":"lastName","pt":"msg","to":"originalMessage.from.last_name","tot":"msg"},{"t":"set","p":"userName","pt":"msg","to":"originalMessage.from.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["0673a2394d7243e6","2e826fbd2fd5e7fd"]]},{"id":"4207e7618878d488","type":"function","z":"1710a13e.24be0f","name":"Привітальне повідомлення","func":"const message = {\n    'type': 'message',\n    'chatId': msg.chatId,\n    'content': 'Привіт!👋🙂 \\nЦе бот Львівського професійного коледжу моделювання і ресторанної справи 🧑‍🍳💅🤵‍♂️💇‍♂️\\nТут ти дізнаєшся про життя нашого коледжу😎, а також, знайдеш необхідну тобі інформацію👌\\nВибери те, що тебе цікавить:',\n    'options': {\n      \"reply_markup\": {\n      \"inline_keyboard\": [\n        [\n          {\n            \"callback_data\": \"classes\",\n            \"text\": \"🎓Професії\"\n          },\n          {\n            \"callback_data\": \"question\",\n            \"text\": \"❓Запитання\"\n          }\n        ],\n          [\n            \n            {\n              \"text\": \"📝Реєстрація на вступ\",\n              \"url\": \"https://forms.gle/QWErRgua6H4LEAAp8\"\n            }\n          ],\n        [\n          {\n            \"url\": \"https://www.tiktok.com/@profcollege_?_t=8rHV0eZUZrM\",\n            \"text\": \"🎵TikTok\"\n          },\n          {\n            \"url\": \"https://www.facebook.com/profcollege.lviv.ua/\",\n            \"text\": \"📱Facebook\"\n          },\n        ],\n        [\n            {\n              \"url\": \"https://www.instagram.com/profcollege.lviv.ua/\",\n              \"text\": \"📸Instagram\"\n            },\n            {\n              \"url\": \"https://www.youtube.com/channel/UCFjg6TjY9apdqFFUQ-r5Nlw/\",\n              \"text\": \"🎥Youtube\"\n            }\n        ],\n        [\n            {\n              \"url\": \"https://profcollege.lviv.ua/\",\n              \"text\": \"🌐Наш сайт\"\n            }\n        ]\n      ],\n      \"one_time_keyboard\": true,\n      \"resize_keyboard\": true\n    }}\n}\nmsg.state = 'strart'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":100,"wires":[["6cf567e5c64bd67f"]]},{"id":"6cf567e5c64bd67f","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":2080,"y":100,"wires":[[]]},{"id":"41df9d9a974ff09f","type":"link out","z":"1710a13e.24be0f","name":"link out 1","mode":"link","links":["5d8d96ee58049514"],"x":635,"y":120,"wires":[]},{"id":"9847aeb6990793e4","type":"change","z":"1710a13e.24be0f","name":"","rules":[{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"firstName","pt":"msg","to":"originalMessage.from.first_name","tot":"msg"},{"t":"set","p":"lastName","pt":"msg","to":"originalMessage.from.last_name","tot":"msg"},{"t":"set","p":"userName","pt":"msg","to":"originalMessage.from.username","tot":"msg"},{"t":"set","p":"messageType","pt":"msg","to":"payload.type","tot":"msg"},{"t":"set","p":"content","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["42c2bd1c0286db6f"]]},{"id":"74adc81912248333","type":"comment","z":"1710a13e.24be0f","name":"Початок","info":"","x":160,"y":60,"wires":[]},{"id":"6a608d5ca44a0e62","type":"switch","z":"1710a13e.24be0f","name":"State","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"classes","vt":"str"},{"t":"eq","v":"nine","vt":"str"},{"t":"eq","v":"eleven","vt":"str"},{"t":"eq","v":"strart","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":950,"y":720,"wires":[["89f6789b0b51e234"],["679eb748b8e2ccce"],["f23e70ecc9102e31"],["3c89a94dab64bafd"],["3c89a94dab64bafd"]]},{"id":"59a89561c175fa35","type":"link in","z":"1710a13e.24be0f","name":"link in 4","links":["24508e0f7b93084d"],"x":685,"y":500,"wires":[["a6a1727e877f8b6b","ae6d835197d67fe8"]]},{"id":"c935195ce4aee82f","type":"telegram event","z":"1710a13e.24be0f","name":"","bot":"478ad80d55c10b37","event":"callback_query","autoanswer":false,"x":160,"y":320,"wires":[["9847aeb6990793e4"]]},{"id":"42c2bd1c0286db6f","type":"link out","z":"1710a13e.24be0f","name":"link out 3","mode":"link","links":["5d8d96ee58049514"],"x":495,"y":320,"wires":[]},{"id":"2962a53cc87c2834","type":"switch","z":"1710a13e.24be0f","name":"call_back","property":"content","propertyType":"msg","rules":[{"t":"eq","v":"classes","vt":"str"},{"t":"eq","v":"nine","vt":"str"},{"t":"eq","v":"eleven","vt":"str"},{"t":"eq","v":"mainMenu","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1060,"y":440,"wires":[["488f6a63c42e630d"],["2d88dc88c0e3d813"],["0e5f79bc918afe14"],["c23b52b80d3cb559"],["c23b52b80d3cb559"]]},{"id":"ae6d835197d67fe8","type":"switch","z":"1710a13e.24be0f","name":"messageType","property":"messageType","propertyType":"msg","rules":[{"t":"eq","v":"callback_query","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":520,"wires":[["2962a53cc87c2834"],["6a608d5ca44a0e62"]]},{"id":"c23b52b80d3cb559","type":"link out","z":"1710a13e.24be0f","name":"mainMenu","mode":"link","links":["13eff73762838725","f0dc1ad4badaade2"],"x":1165,"y":520,"wires":[]},{"id":"13eff73762838725","type":"link in","z":"1710a13e.24be0f","name":"mainMenuIn","links":["3c89a94dab64bafd","6520fdbb7e731125","c23b52b80d3cb559","45c0b54c4922ebde"],"x":1315,"y":100,"wires":[["42ae7b479db7a728"]]},{"id":"3c89a94dab64bafd","type":"link out","z":"1710a13e.24be0f","name":"mainMenu","mode":"link","links":["13eff73762838725","f0dc1ad4badaade2"],"x":1045,"y":800,"wires":[]},{"id":"accda615cea4c09b","type":"comment","z":"1710a13e.24be0f","name":"Головне меню","info":"","x":1380,"y":40,"wires":[]},{"id":"229e55215cc21757","type":"function","z":"1710a13e.24be0f","name":"Вибір професії 11 клас","func":"const message = {\n    'type': 'message',\n    'chatId': msg.chatId,\n    'content': 'Обери професію, яка тебе цікавить:',\n    'options': {\n      \"reply_markup\": {\n      \"inline_keyboard\": [\n        [\n          {\n            \"callback_data\": \"сook\",\n            \"text\": \"Кухар, кондитер👨‍🍳\"\n          }\n        ],\n        [\n          {\n            \"callback_data\": \"hairdresser\",\n            \"text\": \"Перукар, Візажист💇‍♀️\"\n          }\n        ],\n        [\n          {\n            \"callback_data\": \"tailor\",\n            \"text\": \"Кравець, закрійник🪡\"\n          }\n        ],\n        //   [\n            \n        //     {\n        //       \"text\": \"Реєстрація на вступ📝\",\n        //       \"url\": \"https://forms.gle/QWErRgua6H4LEAAp8\"\n        //     }\n        //   ],\n        // [\n        //   {\n        //     \"url\": \"https://www.tiktok.com/@profcollege_?_t=8rHV0eZUZrM\",\n        //     \"text\": \"TikTok🎵\"\n        //   },\n        //   {\n        //     \"url\": \"https://www.facebook.com/profcollege.lviv.ua/\",\n        //     \"text\": \"Facebook📱\"\n        //   },\n        // ],\n        // [\n        //     {\n        //       \"url\": \"https://www.instagram.com/profcollege.lviv.ua/\",\n        //       \"text\": \"Instagram📸\"\n        //     },\n        //     {\n        //       \"url\": \"https://www.youtube.com/channel/UCFjg6TjY9apdqFFUQ-r5Nlw/\",\n        //       \"text\": \"Youtube🎥\"\n        //     }\n        // ],\n          [\n            {\n              \"text\": \"Назад⬅️\",\n              \"callback_data\": \"classes\"\n            },\n            {\n              \"text\": \"Головне меню↩️\",\n              \"callback_data\": \"mainMenu\"\n            }\n          ],\n      ],\n      \"one_time_keyboard\": true,\n      \"resize_keyboard\": true\n    }}\n}\nmsg.state = 'eleven'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":820,"wires":[["60f88db65fd44eb1"]]},{"id":"60f88db65fd44eb1","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":2320,"y":820,"wires":[[]]},{"id":"f23e70ecc9102e31","type":"link out","z":"1710a13e.24be0f","name":"eleven","mode":"link","links":["2fa17b0bbfbd720c","320fa3756ce1f9f8","e2cf36e98a4eb2f7"],"x":1065,"y":720,"wires":[]},{"id":"8eb7fb928bb444a6","type":"comment","z":"1710a13e.24be0f","name":"Вибір професій для класів","info":"","x":1420,"y":220,"wires":[]},{"id":"4349333e532a08d7","type":"change","z":"1710a13e.24be0f","name":"","rules":[{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"firstName","pt":"msg","to":"originalMessage.from.first_name","tot":"msg"},{"t":"set","p":"lastName","pt":"msg","to":"originalMessage.from.last_name","tot":"msg"},{"t":"set","p":"userName","pt":"msg","to":"originalMessage.from.username","tot":"msg"},{"t":"set","p":"messageType","pt":"msg","to":"payload.type","tot":"msg"},{"t":"set","p":"content","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":440,"wires":[[]]},{"id":"64a7424ec6c1bdf0","type":"telegram receiver","z":"1710a13e.24be0f","name":"","bot":"478ad80d55c10b37","saveDataDir":"","filterCommands":false,"x":170,"y":440,"wires":[["4349333e532a08d7"],[]]},{"id":"0e5f79bc918afe14","type":"link out","z":"1710a13e.24be0f","name":"eleven","mode":"link","links":["2fa17b0bbfbd720c","320fa3756ce1f9f8","e2cf36e98a4eb2f7"],"x":1215,"y":460,"wires":[]},{"id":"0cdce7f7a5d76719","type":"function","z":"1710a13e.24be0f","name":"Вибір класу","func":"const message = {\n    'type': 'message',\n    'chatId': msg.chatId,\n    'content': 'В якому класі ти зараз навчаєшся?🤔',\n    'options': {\n      \"reply_markup\": {\n      \"inline_keyboard\": [\n        [\n          {\n            \"callback_data\": \"nine\",\n            \"text\": \"9️⃣\"\n          },\n          {\n            \"callback_data\": \"eleven\",\n            \"text\": \"1️⃣1️⃣\"\n          }\n        ],\n          // [\n            \n          //   {\n          //     \"text\": \"Реєстрація на вступ📝\",\n          //     \"url\": \"https://forms.gle/QWErRgua6H4LEAAp8\"\n          //   }\n          // ],\n        // [\n        //   {\n        //     \"url\": \"https://www.tiktok.com/@profcollege_?_t=8rHV0eZUZrM\",\n        //     \"text\": \"TikTok🎵\"\n        //   },\n        //   {\n        //     \"url\": \"https://www.facebook.com/profcollege.lviv.ua/\",\n        //     \"text\": \"Facebook📱\"\n        //   },\n        // ],\n        // [\n        //     {\n        //       \"url\": \"https://www.instagram.com/profcollege.lviv.ua/\",\n        //       \"text\": \"Instagram📸\"\n        //     },\n        //     {\n        //       \"url\": \"https://www.youtube.com/channel/UCFjg6TjY9apdqFFUQ-r5Nlw/\",\n        //       \"text\": \"Youtube🎥\"\n        //     }\n        // ],\n        [\n            {\n              \"text\": \"Головне меню↩️\",\n              \"callback_data\": \"mainMenu\"\n            }\n          ],\n      ],\n      \"one_time_keyboard\": true,\n      \"resize_keyboard\": true\n    }}\n}\nmsg.state = 'classes'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":160,"wires":[["0a9e13fe1e7346c8"]]},{"id":"0a9e13fe1e7346c8","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":1660,"y":160,"wires":[[]]},{"id":"26e3adc0304905e9","type":"link in","z":"1710a13e.24be0f","name":"classesIn","links":["488f6a63c42e630d","89f6789b0b51e234"],"x":1315,"y":160,"wires":[["0cdce7f7a5d76719"]]},{"id":"488f6a63c42e630d","type":"link out","z":"1710a13e.24be0f","name":"classes","mode":"link","links":["26e3adc0304905e9"],"x":1215,"y":380,"wires":[]},{"id":"89f6789b0b51e234","type":"link out","z":"1710a13e.24be0f","name":"classes","mode":"link","links":["26e3adc0304905e9"],"x":1065,"y":640,"wires":[]},{"id":"0673a2394d7243e6","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"2e826fbd2fd5e7fd","type":"function","z":"1710a13e.24be0f","name":"Початок","func":"msg.firstState = 'mainMenu'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[["41df9d9a974ff09f"]]},{"id":"a6a1727e877f8b6b","type":"debug","z":"1710a13e.24be0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"679eb748b8e2ccce","type":"link out","z":"1710a13e.24be0f","name":"nine","mode":"link","links":["e0a7c0e2a3be408b","a2bda9a8777051bf"],"x":1065,"y":680,"wires":[]},{"id":"a9861b1cadd4eeb8","type":"function","z":"1710a13e.24be0f","name":"Вибір професії 9 клас","func":"const message = {\n    'type': 'message',\n    'chatId': msg.chatId,\n    'content': 'Обери професію, яка тебе цікавить:',\n    'options': {\n      \"reply_markup\": {\n      \"inline_keyboard\": [\n        [\n          {\n            \"callback_data\": \"сookChild\",\n            \"text\": \"Кухар, Кондитер, Кухар дитячого харчування👨‍🍳\"\n          }\n        ],\n          [\n            {\n              \"callback_data\": \"сookBarmen\",\n              \"text\": \"Кухар, Офіціант, Бармен🤵\"\n            }\n          ],\n        [\n          {\n            \"callback_data\": \"hairdresser\",\n            \"text\": \"Перукар (перукар-модельєр)💇‍♀️\"\n          }\n        ],\n          [\n            {\n              \"callback_data\": \"hairdresser\",\n              \"text\": \"Перукар (перукар-модельєр), Манікюрник, Педикюрник💇‍♀️💅\"\n            }\n          ],\n        [\n          {\n            \"callback_data\": \"tailor11\",\n            \"text\": \"Кравець, закрійник🪡\"\n          }\n        ],\n        //   [\n            \n        //     {\n        //       \"text\": \"Реєстрація на вступ📝\",\n        //       \"url\": \"https://forms.gle/QWErRgua6H4LEAAp8\"\n        //     }\n        //   ],\n        // [\n        //   {\n        //     \"url\": \"https://www.tiktok.com/@profcollege_?_t=8rHV0eZUZrM\",\n        //     \"text\": \"TikTok🎵\"\n        //   },\n        //   {\n        //     \"url\": \"https://www.facebook.com/profcollege.lviv.ua/\",\n        //     \"text\": \"Facebook📱\"\n        //   },\n        // ],\n        // [\n        //     {\n        //       \"url\": \"https://www.instagram.com/profcollege.lviv.ua/\",\n        //       \"text\": \"Instagram📸\"\n        //     },\n        //     {\n        //       \"url\": \"https://www.youtube.com/channel/UCFjg6TjY9apdqFFUQ-r5Nlw/\",\n        //       \"text\": \"Youtube🎥\"\n        //     }\n        // ],\n          [\n            {\n              \"text\": \"Назад⬅️\",\n              \"callback_data\": \"classes\"\n            },\n            {\n              \"text\": \"Головне меню↩️\",\n              \"callback_data\": \"mainMenu\"\n            }\n          ],\n      ],\n      \"one_time_keyboard\": true,\n      \"resize_keyboard\": true\n    }}\n}\nmsg.state = 'eleven'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":780,"wires":[["7986db50a34cb337"]]},{"id":"7986db50a34cb337","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":2320,"y":780,"wires":[[]]},{"id":"2d88dc88c0e3d813","type":"link out","z":"1710a13e.24be0f","name":"nine","mode":"link","links":["e0a7c0e2a3be408b","a2bda9a8777051bf"],"x":1215,"y":420,"wires":[]},{"id":"42ae7b479db7a728","type":"function","z":"1710a13e.24be0f","name":"Банер","func":"const message = {\n    'type': 'mediaGroup',\n    'chatId': msg.chatId,\n    'content': [\n        {\n          'type': \"photo\",\n          'media': \"https://scontent.flwo3-1.fna.fbcdn.net/v/t39.30808-6/428624020_373764188742981_6414056949834156018_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=kCesRJQsDRMQ7kNvgEy5JVg&_nc_zt=23&_nc_ht=scontent.flwo3-1.fna&_nc_gid=A3y40i2uNUaDqqvN5QwTvTC&oh=00_AYDCSbNtfSwTg0fYVcXjMq-tsM_8p90A4bVtYZN_9Q3Fsg&oe=6736D450\"\n        }\n    ]\n}\nmsg.state = 'mainMenu'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":100,"wires":[["b8da464a495a11b8"]]},{"id":"b8da464a495a11b8","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":1600,"y":100,"wires":[["4207e7618878d488"]]},{"id":"16f3c7599377828d","type":"function","z":"1710a13e.24be0f","name":"Вибір професії 11 клас","func":"const message = {\n    'type': 'message',\n    'chatId': msg.chatId,\n  'content': '📚Львівський професійний коледж моделювання і ресторанної справи здійснює підготовку кваліфікованих робітників на базі 11-го класу з професій: \\n\\nКравець.Закрійник \\nКухар.Кондитер\\nПерукар(перукар- модельєр) \\n\\n⏳Термін навчання – 1 рік і 10 місяців \\n\\nПереваги: \\n✔️Вступ без НМТ \\n✔️Стипендія від 1250 грн \\n✔️Надається гуртожиток \\n📧Заповни реєстраційну форму і ми з тобою звʼяжемося',\n    'options': {\n      \"reply_markup\": {\n      \"inline_keyboard\": [\n          [\n            \n            {\n              \"text\": \"📝Реєстрація на вступ\",\n              \"url\": \"https://forms.gle/QWErRgua6H4LEAAp8\"\n            }\n          ],\n        // [\n        //   {\n        //     \"url\": \"https://www.tiktok.com/@profcollege_?_t=8rHV0eZUZrM\",\n        //     \"text\": \"TikTok🎵\"\n        //   },\n        //   {\n        //     \"url\": \"https://www.facebook.com/profcollege.lviv.ua/\",\n        //     \"text\": \"Facebook📱\"\n        //   },\n        // ],\n        // [\n        //     {\n        //       \"url\": \"https://www.instagram.com/profcollege.lviv.ua/\",\n        //       \"text\": \"Instagram📸\"\n        //     },\n        //     {\n        //       \"url\": \"https://www.youtube.com/channel/UCFjg6TjY9apdqFFUQ-r5Nlw/\",\n        //       \"text\": \"Youtube🎥\"\n        //     }\n        // ],\n          [\n            {\n              \"text\": \"⬅️Назад\",\n              \"callback_data\": \"classes\"\n            },\n            {\n              \"text\": \"↩️Головне меню\",\n              \"callback_data\": \"mainMenu\"\n            }\n          ],\n      ],\n      \"one_time_keyboard\": true,\n      \"resize_keyboard\": true\n    }}\n}\nmsg.state = 'eleven'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":320,"wires":[["9628b9ff56fc8e5c"]]},{"id":"9628b9ff56fc8e5c","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":2120,"y":320,"wires":[[]]},{"id":"e2cf36e98a4eb2f7","type":"link in","z":"1710a13e.24be0f","name":"elevenIn","links":["0e5f79bc918afe14","f23e70ecc9102e31"],"x":1315,"y":320,"wires":[["1a8464ba54b52357"]]},{"id":"0a1362765baec09a","type":"function","z":"1710a13e.24be0f","name":"Вибір професії 9 клас","func":"const message = {\n    'type': 'message',\n    'chatId': msg.chatId,\n  'content': '📚Львівський професійний коледж моделювання і ресторанної справи здійснює підготовку кваліфікованих робітників на базі 9-го класу з професій: \\n\\nКухар, Кондитер, Кухар дитячого харчування (2 роки 10 місяців + 4 місяці) \\nКухар, Офіціант, Бармен (3 роки 4 місяці) \\nПерукар (перукар-модельєр) (2 роки 10 місяців)\\nПерукар (перукар-модельєр), Манікюрник, Педикюрни (2 роки 10 місяців)\\nКравець, закрійник (3 роки 5 місяців + 5 місяців)\\n\\nПереваги: \\n✔️Отримаєш повну загальну середню освіту\\n✔️Стипендія від 1250 грн \\n✔️Надається гуртожиток \\n📧Заповни заяву онлайн і ми з тобою звʼяжемося',\n    'options': {\n      \"reply_markup\": {\n      \"inline_keyboard\": [\n          [\n            \n            {\n              \"text\": \"📝Реєстрація на вступ\",\n              \"url\": \"https://forms.gle/QWErRgua6H4LEAAp8\"\n            }\n          ],\n        // [\n        //   {\n        //     \"url\": \"https://www.tiktok.com/@profcollege_?_t=8rHV0eZUZrM\",\n        //     \"text\": \"TikTok🎵\"\n        //   },\n        //   {\n        //     \"url\": \"https://www.facebook.com/profcollege.lviv.ua/\",\n        //     \"text\": \"Facebook📱\"\n        //   },\n        // ],\n        // [\n        //     {\n        //       \"url\": \"https://www.instagram.com/profcollege.lviv.ua/\",\n        //       \"text\": \"Instagram📸\"\n        //     },\n        //     {\n        //       \"url\": \"https://www.youtube.com/channel/UCFjg6TjY9apdqFFUQ-r5Nlw/\",\n        //       \"text\": \"Youtube🎥\"\n        //     }\n        // ],\n          [\n            {\n              \"text\": \"⬅️Назад\",\n              \"callback_data\": \"classes\"\n            },\n            {\n              \"text\": \"↩️Головне меню\",\n              \"callback_data\": \"mainMenu\"\n            }\n          ],\n      ],\n      \"one_time_keyboard\": true,\n      \"resize_keyboard\": true\n    }}\n}\nmsg.state = 'nine'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":280,"wires":[["010fe6fef5e701d2"]]},{"id":"010fe6fef5e701d2","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":2080,"y":280,"wires":[[]]},{"id":"a2bda9a8777051bf","type":"link in","z":"1710a13e.24be0f","name":"nineIn","links":["679eb748b8e2ccce","2d88dc88c0e3d813"],"x":1315,"y":280,"wires":[["cde48eafbd6f7b49"]]},{"id":"1a8464ba54b52357","type":"function","z":"1710a13e.24be0f","name":"Банер","func":"const message = {\n    'type': 'mediaGroup',\n    'chatId': msg.chatId,\n    'content': [\n        {\n          'type': \"photo\",\n          'media': \"https://scontent.flwo3-1.fna.fbcdn.net/v/t39.30808-6/451849833_464320119687387_5789886514820352836_n.jpg?stp=dst-jpg_s600x600&_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_ohc=1Rmle-ou61sQ7kNvgFSmdSZ&_nc_zt=23&_nc_ht=scontent.flwo3-1.fna&_nc_gid=AhQPfauSKfFiVQXdy64sakc&oh=00_AYAkPoAjmoYCth-F0GlzQxFEBffsfK_ShEs23I9aYr1hdA&oe=6736C215\"\n        }\n    ]\n}\nmsg.state = 'eleven'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":320,"wires":[["b234870e62884f95"]]},{"id":"b234870e62884f95","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":1600,"y":320,"wires":[["16f3c7599377828d"]]},{"id":"cde48eafbd6f7b49","type":"function","z":"1710a13e.24be0f","name":"Банер","func":"const message = {\n    'type': 'mediaGroup',\n    'chatId': msg.chatId,\n    'content': [\n        {\n          'type': \"photo\",\n          'media': \"https://profcollege.lviv.ua/wp-content/uploads/2022/04/01-1.jpg\"\n        }\n    ]\n}\nmsg.state = 'nine'\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":280,"wires":[["6d2b4f9f67635cd1"]]},{"id":"6d2b4f9f67635cd1","type":"subflow:45938af2924d6bf1","z":"1710a13e.24be0f","name":"","x":1600,"y":280,"wires":[["0a1362765baec09a"]]},{"id":"2beda0e5537a16cb","type":"function","z":"02933166aa653acd","name":"find_recipient","func":"msg.switch_type = \"find\";\nmsg.collection = 'users';\nlet bd = {chatId: msg.chatId};\nmsg.payload = bd;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["bf24d6e338d79423"]]},{"id":"aedb26082f4322c0","type":"switch","z":"02933166aa653acd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":320,"wires":[["04a9d2a201f77097"],["2b69976140f1515e"]]},{"id":"5d8d96ee58049514","type":"link in","z":"02933166aa653acd","name":"start","links":["41df9d9a974ff09f","c92d56bd25f62818","46c23e23b44bc007","42c2bd1c0286db6f","c57296cbbc7f7a85"],"x":215,"y":320,"wires":[["2beda0e5537a16cb"]]},{"id":"24508e0f7b93084d","type":"link out","z":"02933166aa653acd","name":"onboarding","mode":"link","links":["68647e2d41d7dbb7","59a89561c175fa35"],"x":1535,"y":320,"wires":[]},{"id":"bf24d6e338d79423","type":"subflow:6e4c635c.e9a3cc","z":"02933166aa653acd","name":"","x":530,"y":320,"wires":[["aedb26082f4322c0"]]},{"id":"f0b448c165b89fdf","type":"subflow:6e4c635c.e9a3cc","z":"02933166aa653acd","name":"","x":970,"y":280,"wires":[["2b69976140f1515e"]]},{"id":"04a9d2a201f77097","type":"function","z":"02933166aa653acd","name":"saveUser","func":"msg.switch_type = \"insert\";\nmsg.collection = 'users';\nmsg.payload = {\n    chatId: msg.chatId,\n    recipient: msg.userName,\n    first_name: msg.firstName,\n    last_name: msg.lastName\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":280,"wires":[["f0b448c165b89fdf"]]},{"id":"b5691a12015ccee2","type":"change","z":"02933166aa653acd","name":"","rules":[{"t":"set","p":"state","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":360,"wires":[["24508e0f7b93084d"]]},{"id":"2b69976140f1515e","type":"switch","z":"02933166aa653acd","name":"","property":"firstState","propertyType":"msg","rules":[{"t":"eq","v":"mainMenu","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":320,"wires":[["24508e0f7b93084d"],["b5691a12015ccee2"]]},{"id":"ca604ce5a2ea3c06","type":"function","z":"06fd9e325bd37e34","name":"Повідомлення з кодом","func":"const message = {\n    'type': 'message',\n    'chatId': msg.payload.chatId,\n    'content': 'Привіт) \\n\\nНапиши своє Прізвище, Ім\\'я та групу\\n\\nПиклад: \"Коваленко Іван, 201',\n}\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":440,"wires":[["84faf34878f3921a"]]},{"id":"0333a7ce77015ce0","type":"debug","z":"06fd9e325bd37e34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":740,"wires":[]},{"id":"6222c1a6427c5340","type":"catch","z":"06fd9e325bd37e34","name":"","scope":null,"x":180,"y":740,"wires":[["0333a7ce77015ce0"]]},{"id":"84faf34878f3921a","type":"telegram sender","z":"06fd9e325bd37e34","name":"send message","bot":"a54d6162c71f8df8","haserroroutput":false,"outputs":1,"x":1040,"y":460,"wires":[[]]},{"id":"52a8786728893b82","type":"function","z":"06fd9e325bd37e34","name":"перевірка імя та прізвища","func":"\nconst validateFullName = (fullString) => {\n    // Регулярний вираз перевіряє два слова, що складаються тільки з літер, розділені пробілом, кожне від 2 до 30 символів\n    const pattern = /^[A-Za-zА-Яа-яІіЇїЄєҐґ]{2,30}\\s[A-Za-zА-Яа-яІіЇїЄєҐґ]{2,30},\\s\\d{1,4}$/;\n    return pattern.test(fullString);\n}\n\nconst message = {\n    'type': 'message',\n    'chatId': msg.payload.chatId,\n    'content': 'Дякую!',\n}\n\n\nif (!validateFullName(msg.payload.content)) {\nmessage.content = 'Ти ввів невірні данні, будь ласка виправ і введи їх ще раз'\n}\n\nmsg.payload = message;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":620,"wires":[["84faf34878f3921a"]]},{"id":"b1de6d7d408cc7d2","type":"function","z":"06fd9e325bd37e34","name":"Повідомлення коли перейшов не за QR","func":"const message = {\n    'type': 'message',\n    'chatId': msg.payload.chatId,\n    'content': 'Відскануй QR на прохідній і перейди за ним',\n}\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[["84faf34878f3921a"]]},{"id":"e2976d6298411b70","type":"function","z":"06fd9e325bd37e34","name":" Vars","func":"\nmsg.chatId = msg.payload.chatId\nmsg.firstName = msg.originalMessage.from.first_name || ''\nmsg.lastName = msg.originalMessage.from.last_name || ''\nmsg.username = msg.originalMessage.from.username || ''\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["c92d56bd25f62818"]]},{"id":"6469415617424154","type":"function","z":"06fd9e325bd37e34","name":"Повідомлення з QR","func":"\nconst message = {\n    'type': \"photo\",\n    'chatId': msg.chatId,\n    'content': msg.payload\n}\n\nmsg.payload = message;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[["16729272ccdf96c9"]]},{"id":"398f0e6d448a4d89","type":"jimp-image","z":"06fd9e325bd37e34","name":"","data":"payload","dataType":"msg","ret":"buf","parameter1":"100","parameter1Type":"num","parameter2":"1000","parameter2Type":"num","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Useful for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":810,"y":280,"wires":[["6469415617424154"]]},{"id":"5b109a40c5a95bba","type":"function","z":"06fd9e325bd37e34","name":"base64","func":"const cleanBase64 = msg.payload.replace(\"data:image/png;base64,\", \"\");\n\nmsg.payload = cleanBase64;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":360,"wires":[["398f0e6d448a4d89"]]},{"id":"a284bb7e3cfb7e15","type":"function","z":"06fd9e325bd37e34","name":"link","func":"// Отримання поточної дати та часу\nlet now = new Date();\n\n// Форматування дати та часу для генерації унікального коду\nlet uniqueCode = now.getFullYear().toString().slice(-2) +\n    ('0' + (now.getMonth() + 1)).slice(-2) +\n    ('0' + now.getDate()).slice(-2) +\n    ('0' + now.getHours()).slice(-2) +\n    ('0' + now.getMinutes()).slice(-2) +\n    ('0' + now.getSeconds()).slice(-2) +\n    ('000' + now.getMilliseconds()).slice(-3);\n\n//Генерація лінки на бот\nmsg.link = `https://t.me/profcollegeEnterLocal_bot?start=${uniqueCode}`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":280,"wires":[["09fe2f5a05b5f1b4"]]},{"id":"0088197c55a34f10","type":"function","z":"06fd9e325bd37e34","name":"delete message","func":"// Зберігайте ID надісланого повідомлення\nconst chatId = msg.payload.chatId;\nconst messageId = msg.payload.sentMessageId;\n\n\nmsg.payload = {\n    type: 'deleteMessage',\n    chatId: chatId,\n    content: messageId\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":280,"wires":[["4613869877ae76ec"]]},{"id":"16729272ccdf96c9","type":"telegram sender","z":"06fd9e325bd37e34","name":"send message","bot":"a54d6162c71f8df8","haserroroutput":false,"outputs":1,"x":1300,"y":280,"wires":[["2d8377d49020cb26"]]},{"id":"4613869877ae76ec","type":"telegram sender","z":"06fd9e325bd37e34","name":"send message","bot":"a54d6162c71f8df8","haserroroutput":false,"outputs":1,"x":1880,"y":280,"wires":[[]]},{"id":"2d8377d49020cb26","type":"delay","z":"06fd9e325bd37e34","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1500,"y":280,"wires":[["0088197c55a34f10"]]},{"id":"09fe2f5a05b5f1b4","type":"Barcode Generator","z":"06fd9e325bd37e34","name":"","data":"link","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"showborder","v":"true","vt":"bool"},{"p":"rotate","v":"N","vt":"str"}],"x":630,"y":280,"wires":[["398f0e6d448a4d89"]]},{"id":"c8d41d85230e6d4a","type":"switch","z":"06fd9e325bd37e34","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"/start ","vt":"str"},{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":600,"wires":[["c7446231ba0dc2c8"],["c7446231ba0dc2c8"],["c7446231ba0dc2c8"],["52a8786728893b82"]]},{"id":"35bda460cd701272","type":"comment","z":"06fd9e325bd37e34","name":"Генерація QR адміном","info":"","x":340,"y":140,"wires":[]},{"id":"6fef8058cd184a91","type":"comment","z":"06fd9e325bd37e34","name":"Перехід в бот без унікального ID","info":"","x":360,"y":400,"wires":[]},{"id":"aa150cc9db09bc92","type":"comment","z":"06fd9e325bd37e34","name":"Перехід в бот p унікальним ID","info":"","x":350,"y":520,"wires":[]},{"id":"c7446231ba0dc2c8","type":"debug","z":"06fd9e325bd37e34","name":"Start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":560,"wires":[]},{"id":"35e03fba0f1a641b","type":"debug","z":"06fd9e325bd37e34","name":"Start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":360,"wires":[]},{"id":"996e280199d9f6ca","type":"switch","z":"06fd9e325bd37e34","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":460,"wires":[["ca604ce5a2ea3c06"],["b1de6d7d408cc7d2"]]},{"id":"a9fbedbbddbc3d6e","type":"function","z":"06fd9e325bd37e34","name":"function 2","func":"msg.switch_type = \"insert\";\nmsg.collection = 'users';\nmsg.payload = {\n    chatId: msg.chatId,\n    recipient: msg.username,\n    first_name: msg.firstName,\n    last_name: msg.lastName\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":740,"wires":[["8f9a209c62305d42"]]},{"id":"8f9a209c62305d42","type":"subflow:6e4c635c.e9a3cc","z":"06fd9e325bd37e34","name":"","x":1510,"y":740,"wires":[["654fcd7634e8bfca"]]},{"id":"654fcd7634e8bfca","type":"debug","z":"06fd9e325bd37e34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1730,"y":740,"wires":[]},{"id":"c92d56bd25f62818","type":"link out","z":"06fd9e325bd37e34","name":"link out 2","mode":"link","links":["5d8d96ee58049514"],"x":405,"y":200,"wires":[]}]